# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
flask=1.1.1=py_1
flask-jwt=0.3.2=pypi_0
flask-restful=0.3.7=py_0
flask-sqlalchemy=2.4.1=pypi_0
